@charset "UTF-8";

#footer {
  height: 10vh;
  padding: 2rem 0 0;
  background-color: #272727;
}
#footer .copyright {
  color: #fff;
  text-align: center;
}

/* back to top */
#footer .back_to_top {
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  z-index: 999;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#footer .back_to_top:focus {
  outline: 0 !important;
}
#footer .back_to_top:before {
  font-family: "FontAwesome";
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .btn {
  left: initial;
  right: -200px;
  color: rgb(0, 0, 0);
  border-radius: 0;
  border: 1px solid rgb(0, 0, 0);
  transition: all 0.5s ease-in-out;
  padding: 5px 10px 2px;
}
#footer .btn:before {
  content: "\f0d8";
  font-size: 27px;
}
#footer .btn:hover {
  border-radius: 50%;
}
#footer .btn:hover:before {
  transform: translateY(0);
}
#footer .btn.show {
  right: 110px;
  bottom: 35px;
}
