@charset "UTF-8";

/* main */

#main .main_banner {
  background: url(../images/main_background.png) no-repeat top;
  background-size: contain;
  margin-top: -3.3rem;
  height: 1001px;
}
/* slogan */

#main .main_banner .slogan_area {
  position: absolute;
  top: 23%;
  width: 100%;
  text-align: center;
  cursor: context-menu;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#main .main_banner .fadein {
  animation: fadein 3.5s ease-out alternate both;
  animation-delay: 1s;
}

#main .main_banner .effect {
  font-size: 3vw;
  line-height: 10vh;
}

#main #title1:hover {
  color: white;
  text-shadow: 0 0 30px blue;
}

#main #title2:hover {
  color: white;
  text-shadow: 0 0 30px red;
}

#main #title3:hover {
  color: white;
  text-shadow: 0 0 30px orange;
}

/* main detail btn */

/*  */
#main .main_banner .slogan_area .detail_link {
  position: absolute;
  top: 220px;
  left: 0;
  display: flex;
  margin-left: 5rem;
}

#main .profile img {
  position: absolute;
  top: 40%;
  left: 41%;
  width: 320px;
}

/* aboutme */
#aboutme.section {
  height: 100vh;
  padding: 9rem 0 2rem;
}
#aboutme h2 {
  background: url(../images/aboutme.png) no-repeat center center;
  background-size: contain;
  width: 1300px;
  height: 432px;
  position: absolute;
  z-index: -1;
}
#aboutme .profile_area {
  width: 100%;
  height: 43.5vh;
  margin-bottom: 13vh;
}
#aboutme .profile_img {
  width: 280px;
}
#aboutme .profile_detail_area {
  width: 900px;
  height: inherit;
  margin: 0 25px 0 65px;
}
#aboutme .detail_box_left > p {
  margin-bottom: 32px;
}
#aboutme .detail_box_right > p {
  margin-bottom: 23px;
}

/* skills */
#aboutme .skill_area {
  width: 100%;
  height: 35vh;
  margin-top: 180px;
}
#aboutme .skill_area h2 {
  background: url(../images/skills.png) no-repeat center center;
  background-size: contain;
  width: 70%;
  height: 257px;
  position: absolute;
  z-index: -1;
  background-position-x: 408px;
  background-position-y: 32px;
}
#aboutme .skill_area .skill {
  margin-bottom: 70px;
}
#aboutme .skill_img {
  display: inline-block;
  width: 280px;
  height: 55px;
  margin: 0 auto;
  vertical-align: middle;
}
#aboutme .skill_img > div {
  width: 20%;
  margin: 0 6px;
}
#aboutme .skill1 .skill_img {
  margin-left: 65px;
}
#aboutme .skill2 .skill_img {
  margin-left: 80px;
}
#aboutme .skill2 .skill_img > div {
  margin: 0 15px;
}
#aboutme .skill3 .skill_img {
  margin-left: 60px;
}
#aboutme .skill3 .skill_img > div {
  margin: 0 20px;
}
#aboutme .skill3 .skill_img > div:last-child {
  padding-top: 15px;
  width: 40%;
}
#aboutme .skill_area .skill > p {
  padding-right: 17%;
}
/* Project&banner */

#project1.section,
#project2.section,
#project3.section,
#banner.section {
  height: 80vh;
  margin: 8vw auto;
  padding: 10rem 0 0;
}
#project1 .container,
#project2 .container,
#project3 .container,
#banner .container {
  display: flex;
  justify-content: space-between;
}

/* project&banner title effect */
#main .project {
  font-family: Sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 48px;
  height: 63px;
}
#main .project span {
  position: relative;
}
#main .project span>div {
  height: 100%;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

#main .project span>div:after {
  content: "";
  height: 40px;
  width: 0;
  left: 0;
  position: absolute;
  background: black;
  top: 0;
}
#main .project.onStart>span div:after{
  animation: animaBloco 1s;
}
#main .project.onStart>span>div {
  animation: divAnimation 1s;
}
#main .project.onScroll {
  opacity: 0;
}

@keyframes animaBloco {
  0% {
    left: 0;
    width: 0;
  }
  20% {
    width: 40%;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes divAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* project */

#project .left {
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 1s ease-in-out;
  width: 50%;
  left: 0;
}

#project .left.in {
  transform: translateX(0%);
  opacity: 1;
}

#project .right {
  position: absolute;
  transform: translateX(100%);
  opacity: 0;
  transition: all 1s ease-in-out;
  width: 50%;
  left: 0;
}

#project .right.in {
  transform: translateX(0%);
  opacity: 1;
}

#project .left_txt {
  position: absolute;
  left: 0;
  width: 40%;
  text-align: right;
}

#project .right_txt {
  position: absolute;
  right: 0;
  width: 40%;
}

#project .project3_left {
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 1s ease-in-out;
  width: 50%;
  left: 0;
}

#project .project3_left.in {
  transform: translateX(0%);
  opacity: 1;
}

#project .project_right {
  position: absolute;
  right: 0;
  width: 40%;
}

/* project1 mockup PC */
#project1 .mockup {
  display: inline-block;
  width: 600px;
  height: 450px;
  position: relative;
  top: 0;
  left: 200px;
}

#project1 .mockup .computer {
  position: absolute;
  width: 100%;
}

#project1 .mockup a.hidden {
  display: block;
  width: 452px;
  height: 254px;
  position: absolute;
  overflow: hidden;
  top: 25px;
  left: 127px;
}

#project1 .hidden img {
  position: relative;
  width: 100%;
}

/* project1 mockup Phone */
#project1 .mockup2 {
  display: inline-block;
  width: 180px;
  height: 400px;
  position: relative;
  top: 65px;
  left: 125px;
}

#project1 .mockup2 .phone {
  position: absolute;
  width: 170px;
}

#project1 .mockup2 a.hidden {
  display: block;
  width: 150px;
  height: 224px;
  position: absolute;
  overflow: hidden;
  top: 56px;
  left: 11px;
}

/* Scroll Animation*/
#project .project_info {
  position: relative;
}

#project .project_info > * {
  display: block;
  font-size: 3vw;
}
/* Project1 Scroll Animation */

#project1 .project_title {
  opacity: 0;
  transform: translateY(200px) scaleY(0);
  transform-origin: 0 0;
  transition: all 2s 0.4s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project1 .language {
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 1.4s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project1 .spec {
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 1.8s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project1 .epilog {
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 2.2s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project1 .project_title.show {
  opacity: 1;
  transform: translateY(0px) scaleY(1);
}

#project1 .language.show {
  opacity: 1;
  transform: translateY(0px);
}

#project1 .spec.show {
  opacity: 1;
  transform: translateY(0px);
}

#project1 .epilog.show {
  opacity: 1;
  transform: translateY(0px);
}
/* project2 */
/* project2 mockup PC */
#project2 .mockup {
  display: inline-block;
  width: 600px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 970px;
}

#project2 .mockup .computer {
  position: absolute;
  width: 100%;
}

#project2 .mockup a.hidden {
  display: block;
  width: 452px;
  height: 254px;
  position: absolute;
  overflow: hidden;
  top: 25px;
  left: 127px;
}

#project2 .hidden img {
  position: relative;
  width: 100%;
}

/* project2 mockup Phone */
#project2 .mockup2 {
  display: inline-block;
  width: 180px;
  height: 400px;
  position: absolute;
  top: 65px;
  left: 980px;
}

#project2 .mockup2 .phone {
  position: absolute;
  width: 170px;
}

#project2 .mockup2 a.hidden {
  display: block;
  width: 150px;
  height: 224px;
  position: absolute;
  overflow: hidden;
  top: 56px;
  left: 11px;
}


/* Project2 Scroll Animation */
#project2 .project_title {
  opacity: 0;
  transform: translateY(200px) scaleY(0);
  transform-origin: 0 0;
  transition: all 2s 0.4s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project2 .language {
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 1.4s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project2 .spec {
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 1.8s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project2 .epilog {
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 2.2s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project2 .project_title.show {
  opacity: 1;
  transform: translateY(0px) scaleY(1);
}

#project2 .language.show {
  opacity: 1;
  transform: translateY(0px);
}

#project2 .spec.show {
  opacity: 1;
  transform: translateY(0px);
}

#project2 .epilog.show {
  opacity: 1;
  transform: translateY(0px);
}
/* project3 */
/* project3 mockup PC */
#project3 .mockup {
  display: inline-block;
  width: 600px;
  height: 450px;
  position: relative;
  top: 0;
  left: 200px;
}

#project3 .mockup .computer {
  position: absolute;
  width: 100%;
}

#project3 .mockup a.hidden {
  display: block;
  width: 452px;
  height: 254px;
  position: absolute;
  overflow: hidden;
  top: 25px;
  left: 127px;
}

#project3 .hidden img {
  position: relative;
  width: 100%;
}

/* project3 mockup Phone */
#project3 .mockup2 {
  display: inline-block;
  width: 180px;
  height: 400px;
  position: relative;
  top: 65px;
  left: 125px;
}

#project3 .mockup2 .phone {
  position: absolute;
  width: 170px;
}

#project3 .mockup2 a.hidden {
  display: block;
  width: 150px;
  height: 224px;
  position: absolute;
  overflow: hidden;
  top: 56px;
  left: 11px;
}

/* Project3 Scroll Animation */
#project3 .project_title {
  opacity: 0;
  transform: translateY(200px) scaleY(0);
  transform-origin: 0 0;
  transition: all 2s 0.4s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project3 .language {
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 1.4s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project3 .spec {
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 1.8s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project3 .epilog {
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 2.2s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project3 .project_title.show {
  opacity: 1;
  transform: translateY(0px) scaleY(1);
}

#project3 .language.show {
  opacity: 1;
  transform: translateY(0px);
}

#project3 .spec.show {
  opacity: 1;
  transform: translateY(0px);
}

#project3 .epilog.show {
  opacity: 1;
  transform: translateY(0px);
}


/* Contactme */
#contactme {
  background: url(../images/contactme.png) top;
  background-size: cover;
  height: 60vh;
  padding: 9.5rem 0 0;
}

