@charset "UTF-8";

/* main */

#main .main_banner {
  background: url(../images/main.png) no-repeat top;
  background-size: contain;
  margin-top: -3.3rem;
  height: 1001px;
}
/* slogan */

#main .main_banner .slogan_area {
  position: absolute;
  top: 190px;
  width: 45%;
  left: 27%;
  cursor: default;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#main .main_banner .fadein {
  animation: fadein 2.5s ease-out alternate both;
  animation-delay: 0.5s;
}

#main .profile {
  position: absolute;
  top: 354px;
  left: 42%;
  width: 320px;
}

/* aboutme */
#aboutme.section {
  width: 100%;
  height: 100%;
  padding: 9rem 0 0;
}
#aboutme .profile_area {
  width: 100%;
  height: 40rem;
  margin-bottom: 13rem;
}
#aboutme .profile_img {
  width: 35%;
}
#aboutme .profile_detail_area {
  width: 50%;
  height: inherit;
  margin: 1% 0 0 4%;
}
#aboutme .project {
  font-family: "DM Serif Display";
  display: flex;
  justify-content: left;
  font-size: 42px;
  font-weight: bold;
  height: 63px;
}
#aboutme .profile_detail_area p {
  padding-bottom: 3.5rem;
}
#aboutme .detail_box_top {
  width: 100%;
  height: 45%;
  color: #333;
}
#aboutme .detail_box_bottom {
  width: 100%;
  height: 55%;
}
#aboutme .detail_box_left {
  width: 40%;
}
#aboutme .detail_box_left p:after {
  content: "";
  position: absolute;
  width: 600px;
  height: 40px;
  left: 49.5%;
  border-bottom: 2.5px solid #f2f0fe;
}
#aboutme .detail_box_right {
  width: 60%;
}

/* skills */
#aboutme .skill_area {
  width: 100%;
  height: 30rem;
  padding-top: 100px;
}
#aboutme .skill_area h2 {
  background: url(../images/skills.png) no-repeat center center;
  background-size: contain;
  width: 1400px;
  height: 325px;
  position: absolute;
  z-index: -1;
}
#aboutme .detail_box_skill_left {
  width: 27%;
  height: initial;
}
#aboutme .detail_text_box {
  border-left: 2.5px solid #f2f0fe;
  margin: 45px auto 60px;
  padding-left: 26px;
}
#aboutme .text {
  margin-bottom: 20px;
}
#aboutme .detail_box_skill_center {
  width: 30%;
  height: initial;
}
#aboutme .detail_box_skill_right {
  width: 40%;
  height: initial;
}
#aboutme .detail_skill_box {
  width: 100%;
  height: initial;
  margin-top: 45px;
}
#aboutme .skill {
  margin-bottom: 50px;
}
/* Project */
#project {
  background-color: #f4f7fa;
  margin: 7rem auto 0;
  padding: 7rem 0;
}
#project .hidden img {
  position: relative;
  width: 100%;
}

#project1.section,
#project2.section,
#project3.section,
#project4.section,
#project5.section,
#project6.section {
  height: 80vh;
  padding: 5rem 0;
}
#project1 .container,
#project2 .container,
#project3 .container,
#project4 .container,
#project5 .container,
#project6 .container,
#banner .container {
  display: flex;
  justify-content: space-between;
}
#project h2 {
  background: url(../images/project.png) no-repeat center center;
  background-size: contain;
  width: 1400px;
  position: absolute;
  z-index: 0;
  height: 425px;
}
#project .section .mask_left {
  text-align: left;
}
#project .section .mask_right {
  text-align: right;
}
#project .left_area1 {
  position: relative;
  width: 60%;
  padding-right: 132px;
}
#project .right_area1 {
  width: 40%;
  position: relative;
  padding-top: 150px;
  text-align: right;
}
#project .left_area2 {
  width: 33%;
  position: relative;
  padding-top: 150px;
  text-align: left;
}
#project .right_area2 {
  position: relative;
  width: 60%;
}

/* project&banner title effect */
#main .title_mask {
  overflow: hidden;
  position: relative;
  display: inline-block;
  font-family: "DM Serif Display";
  height: 45px;
  font-size: 42px;
  line-height: 40.8px;
  margin-bottom: 2rem;
  color: #969696;
  transition: transform 0.5s;
}
#main .title_mask .mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  background: #969696;
  animation: text_mask 1.5s 1 cubic-bezier(0.24, 0.77, 0.32, 0.95) both paused;
}
#main .title_mask .txt {
  position: relative;
  z-index: 20;
  display: block;
  animation: text_opacity 2s 1s 1 cubic-bezier(0.24, 0.77, 0.32, 0.95) both
    paused;
}

#main .title_mask .mask2 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 0%;
  height: 40%;
  background: #e9c400;
  transition: width 0.5s cubic-bezier(0.24, 0.77, 0.32, 0.95);
}
#main .title_mask:hover .mask2 {
  width: 100%;
}
#main .title_mask:hover {
  transform: translateX(-10px);
}

@keyframes text_mask {
  0% {
    width: 0%;
    transform: translateX(0%);
  }
  50% {
    width: 100%;
    transform: translateX(0%);
  }
  100% {
    width: 100%;
    transform: translateX(101%);
  }
}

@keyframes text_opacity {
  0% {
    opacity: 0;
    color: #3535ff;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    color: #646464;
    transform: translateX(0%);
  }
}

/* section.txt_mask */

#main .title_mask .mask {
  animation-play-state: running;
}
#main .title_mask .txt {
  animation-play-state: running;
}

/* project1 mockup PC */
#project1 .mockup {
  display: inline-block;
  width: 842px;
  height: 455px;
  position: absolute;
  top: 170px;
  right: 39px;
}

#project1 .mockup .computer {
  position: absolute;
  width: 100%;
}

#project1 .mockup a.hidden {
  display: block;
  width: 86.5%;
  height: 83.5%;
  position: absolute;
  overflow: hidden;
  top: 26px;
  left: 58px;
}

/* project1 mockup Phone */
#project1 .mockup2 {
  display: inline-block;
  width: 135px;
  height: 270px;
  position: absolute;
  top: 373px;
  left: 685px;
}

#project1 .mockup2 .phone {
  position: absolute;
  width: 100%;
}

#project1 .mockup2 a.hidden {
  display: block;
  width: 95%;
  height: 104%;
  position: absolute;
  overflow: hidden;
  top: 2px;
  left: 3.5px;
  border-radius: 10px;
}

/* Project Scroll Animation*/
#project .project_info1 {
  padding-left: 5rem;
}
#project .project_info2 {
  padding-right: 2rem;
}

#project .project_info > * {
  display: block;
  font-size: 38px;
}
#project .project_title {
  font-family: "Eulyoo-B", "맑은 고딕", sans-serif;
  font-size: 33px;
  letter-spacing: -1px;
  color: #333;
  padding-bottom: 10px;
}
#project .webpage {
  font-family: "Noto Sans KR", "맑은고딕", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  color: #969696;
  padding-bottom: 20px;
}
#project .webpage:after {
  content: "";
  position: absolute;
  right: -23rem;
  top: 1.8rem;
  width: 100%;
  height: 100%;
  background-image: url(../images/squiggle.svg);
  background-repeat: no-repeat;
}
#project .webpage2:after {
  content: "";
  position: absolute;
  right: 0;
  top: 1.8rem;
  width: 100%;
  height: 100%;
  background-image: url(../images/squiggle.svg);
  background-repeat: no-repeat;
}
#project .during {
  font-family: "Eulyoo-R", "맑은 고딕", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  color: #333;
  padding-top: 2rem;
  padding-bottom: 10px;
}
#project .during_date {
  font-family: "Noto Sans KR", "맑은고딕", sans-serif;
  font-size: 14px;
  color: #969696;
}
#project .descrip {
  font-family: "Noto Sans KR", "맑은고딕", sans-serif;
  font-size: 14px;
  color: #969696;
  letter-spacing: -0.8px;
  padding: 1.5rem 0;
}
#project .language {
  font-family: "Eulyoo-R", "맑은 고딕", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  color: #333;
  padding-bottom: 10px;
}
#project .img_box {
  width: 100%;
  height: 40px;
}
#project .img_box img.logo1 {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#project .img_box img.logo2 {
  width: 60px;
  height: 22px;
  position: relative;
  top: 5px;
}
#project .epilog {
  font-family: "Noto Sans KR", "맑은고딕", sans-serif;
  font-size: 14px;
  color: #969696;
  padding-top: 2rem;
}
/* Project1 Scroll Animation */

#project .left {
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 1s ease-in-out;
  width: 100%;
}

#project .left.in {
  transform: translateX(0%);
  opacity: 1;
}

#project1 .project_title,
#project1 .webpage,
#project1 .during,
#project1 .during_date,
#project1 .descrip,
#project1 .language,
#project1 .img_box,
#project1 .epilog {
  position: relative;
  transform: translateX(100%);
  opacity: 0;
  transition: all 1s ease-in-out;
  width: 100%;
}
#project1 .project_info *.show {
  transform: translateX(0%);
  opacity: 1;
}
/* project2 */
/* project2 mockup PC */
#project2 .mockup {
  display: inline-block;
  width: 842px;
  height: 455px;
  position: absolute;
  top: 170px;
}

#project2 .mockup .computer {
  position: absolute;
  width: 100%;
}

#project2 .mockup a.hidden {
  display: block;
  width: 86.8%;
  height: 84%;
  position: absolute;
  overflow: hidden;
  top: 26px;
  left: 59px;
}

/* project2 mockup Phone */
#project2 .mockup2 {
  display: inline-block;
  width: 135px;
  height: 270px;
  position: absolute;
  top: 417px;
  right: -2px;
}

#project2 .mockup2 .phone {
  position: absolute;
  width: 100%;
}

#project2 .mockup2 a.hidden {
  display: block;
  width: 95%;
  height: 104%;
  position: absolute;
  overflow: hidden;
  top: 2px;
  left: 4px;
  border-radius: 10px;
}

/* project2 mockup Tablet */
#project2 .mockup3 {
  display: inline-block;
  width: 401px;
  height: 280px;
  position: absolute;
  top: 397px;
  right: 489px;
}

#project2 .mockup3 .tablet {
  position: absolute;
  width: 100%;
}

#project2 .mockup3 a.hidden {
  display: block;
  width: 93%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 17px;
  left: 15px;
}

/* Project2 Scroll Animation */

#project .right {
  position: absolute;
  opacity: 0;
  transform: translateY(200px) scaleY(0);
  transform-origin: 0 0;
  transition: all 2s 0.4s cubic-bezier(0, 0.66, 0.38, 1.01);
  width: 100%;
}

#project .right.in {
  opacity: 1;
  transform: translateY(0px) scaleY(1);
}

#project2 .project_info * {
  opacity: 0;
  transform: translateY(200px) scaleY(0);
  transform-origin: 0 0;
  transition: all 2s 0.4s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project2 .project_info *.show {
  transform: translateY(0px) scaleY(1);
  opacity: 1;
}
/* project3 */
/* project3 mockup PC */
#project3 .mockup {
  display: inline-block;
  width: 842px;
  height: 455px;
  position: absolute;
  top: 170px;
  left: -14px;
}

#project3 .mockup .computer {
  position: absolute;
  width: 100%;
}

#project3 .mockup a.hidden {
  display: block;
  width: 87%;
  height: 84%;
  position: absolute;
  overflow: hidden;
  top: 25px;
  left: 57px;
}

/* project3 mockup Phone */
#project3 .mockup2 {
  display: inline-block;
  width: 135px;
  height: 270px;
  position: absolute;
  top: 373px;
  left: 685px;
}

#project3 .mockup2 .phone {
  position: absolute;
  width: 100%;
}

#project3 .mockup2 a.hidden {
  display: block;
  width: 95%;
  height: 104%;
  position: absolute;
  overflow: hidden;
  top: 2px;
  left: 3.5px;
  border-radius: 10px;
}
/* project3 mockup Tablet */
#project3 .mockup3 {
  display: inline-block;
  width: 401px;
  height: 280px;
  position: absolute;
  top: 352px;
  right: 503px;
}

#project3 .mockup3 .tablet {
  position: absolute;
  width: 100%;
}

#project3 .mockup3 a.hidden {
  display: block;
  width: 94%;
  height: 100.5%;
  position: absolute;
  overflow: hidden;
  top: 13px;
  left: 13.5px;
}

/* Project3 Scroll Animation */
#project .project3_left {
  position: absolute;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 1.2s cubic-bezier(0, 0.66, 0.38, 1.01);
  width: 100%;
}

#project .project3_left.in {
  transform: translateY(0px);
  opacity: 1;
}

#project .project_right {
  position: absolute;
  right: 0;
  width: 40%;
}

#project3 .project_title {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.4s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project3 .webpage {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.5s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project3 .during {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.6s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project3 .during_date {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.7s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project3 .descrip {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.8s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project3 .language {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.9s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project3 .logo {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.9s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project3 .epilog {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 1s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project3 .project_info *.show {
  opacity: 1;
  transform: translateY(0px);
}

/* project4 */
/* project4 mockup PC */
#project4 .mockup {
  display: inline-block;
  width: 842px;
  height: 455px;
  position: absolute;
  top: 170px;
}

#project4 .mockup .computer {
  position: absolute;
  width: 100%;
}

#project4 .mockup a.hidden {
  display: block;
  width: 86.4%;
  height: 83.5%;
  position: absolute;
  overflow: hidden;
  top: 26.5px;
  left: 58px;
}

/* project4 mockup Phone */
#project4 .mockup2 {
  display: inline-block;
  width: 135px;
  height: 270px;
  position: absolute;
  top: 404px;
  right: -2px;
}

#project4 .mockup2 .phone {
  position: absolute;
  width: 100%;
}

#project4 .mockup2 a.hidden {
  display: block;
  width: 95%;
  height: 104%;
  position: absolute;
  overflow: hidden;
  top: 2px;
  left: 4px;
  border-radius: 10px;
}

/* project4 mockup Tablet */
#project4 .mockup3 {
  display: inline-block;
  width: 401px;
  height: 280px;
  position: absolute;
  top: 397px;
  right: 489px;
}

#project4 .mockup3 .tablet {
  position: absolute;
  width: 100%;
}

#project4 .mockup3 a.hidden {
  display: block;
  width: 93%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 14px;
  left: 13.5px;
}

/* Project4 Scroll Animation */

#project .right {
  position: absolute;
  opacity: 0;
  transform: translateY(200px) scaleY(0);
  transform-origin: 0 0;
  transition: all 2s 0.4s cubic-bezier(0, 0.66, 0.38, 1.01);
  width: 100%;
}

#project .right.in {
  opacity: 1;
  transform: translateY(0px) scaleY(1);
}

#project4 .project_info * {
  opacity: 0;
  transform: translateY(200px) scaleY(0);
  transform-origin: 0 0;
  transition: all 2s 0.4s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project4 .project_info *.show {
  transform: translateY(0px) scaleY(1);
  opacity: 1;
}
/* project5 */
/* project5 mockup PC */
#project5 .mockup {
  display: inline-block;
  width: 842px;
  height: 455px;
  position: absolute;
  top: 170px;
  left: -14px;
}

#project5 .mockup .computer {
  position: absolute;
  width: 100%;
}

#project5 .mockup a.hidden {
  display: block;
  width: 87%;
  height: 84%;
  position: absolute;
  overflow: hidden;
  top: 25px;
  left: 57px;
}

/* project5 mockup Phone */
#project5 .mockup2 {
  display: inline-block;
  width: 135px;
  height: 270px;
  position: absolute;
  top: 373px;
  left: 685px;
}

#project5 .mockup2 .phone {
  position: absolute;
  width: 100%;
}

#project5 .mockup2 a.hidden {
  display: block;
  width: 95%;
  height: 104.5%;
  position: absolute;
  overflow: hidden;
  top: 2px;
  left: 2.5px;
  border-radius: 10px;
}

/* Project5 Scroll Animation */
#project .project5_left {
  position: absolute;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 1.2s cubic-bezier(0, 0.66, 0.38, 1.01);
  width: 100%;
}

#project .project5_left.in {
  transform: translateY(0px);
  opacity: 1;
}

#project .project_right {
  position: absolute;
  right: 0;
  width: 40%;
}

#project5 .project_title {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.4s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project5 .webpage {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.5s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project5 .during {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.6s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project5 .during_date {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.7s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project5 .descrip {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.8s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project5 .language {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.9s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project5 .logo {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 0.9s cubic-bezier(0, 0.66, 0.38, 1.01);
}
#project5 .epilog {
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  transition: all 4s 1s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project5 .project_info *.show {
  opacity: 1;
  transform: translateY(0px);
}

/* project6 */
/* project6 preview App */
#project6 .right_area2 {
  position: relative;
  width: 60%;
  padding-top: 150px;
}
#project6 .app_area {
  display: inline-block;
  width: 210px;
  height: 444px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 57px;
}
#project6 .app_gif {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 20px;
}
/* project6 mockup Phone */
#project6 .mockup2 {
  display: inline-block;
  width: 246px;
  height: 518px;
  position: absolute;
  top: 0;
  left: 370px;
  overflow: hidden;
  background: url(../images/mockupphone.png) no-repeat;
  background-size: 100% 100%;
}

.crop {
  position: relative;
  overflow: hidden;
  width: 235px;
  height: 511px;
  top: 4px;
  left: 4px;
  border-radius: 25px;
}

iframe {
  display: block;
  position: absolute;
  width: 237px;
  height: 559px;
}

/* Project6 Scroll Animation */

#project6 .project_info * {
  opacity: 0;
  transform: translateY(200px) scaleY(0);
  transform-origin: 0 0;
  transition: all 2s 0.4s cubic-bezier(0, 0.66, 0.38, 1.01);
}

#project6 .project_info *.show {
  transform: translateY(0px) scaleY(1);
  opacity: 1;
}

/* banner */
#banner.section {
  height: 30vh;
  margin: 6rem auto;
  padding: 6rem 0 10rem 0;
}
#banner h2 {
  background: url(../images/banners.png) no-repeat center center;
  background-size: contain;
  width: 1400px;
  height: 450px;
  position: absolute;
  z-index: -1;
}
#banner .banner_area {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  top: 96px;
}
#banner .slide-content {
  margin: 8px;
  width: 418px;
  height: 140px;
  background-color: lightgray;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
#banner .slid-er {
  height: 156px; /* slide-content height + 2*margin */
  margin: 2rem auto;
  overflow: hidden;
  width: 100%;
}
#banner .slid-er .slides {
  display: flex;
}
#banner .slid-er .slide {
  width: 426px; /* slide-content width + margin */
}
#banner .button-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: opacity 0.25s;
}
#banner .button-container:hover {
  opacity: 1;
}
#banner .button-container:hover .button {
  transform: translate(-50%, -50%);
}
#banner .button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 12px));
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.25s;
  padding: 0 8px;
  border-radius: 12px;
  color: white;
  outline: 2px solid transparent;
}
#banner .button:after {
  margin: 0 3px 0 5px;
  filter: invert(1);
}
#banner .button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  outline: 2px solid gray;
}

/* Contactme */
#contactme {
  background: url(../images/footer.png) top;
  background-size: cover;
  height: 26vh;
  padding: 12rem 0 0;
  text-align: center;
}
#contactme ul li {
  line-height: 1.5rem;
}
#contactme span {
  position: relative;
  top: 5px;
}
