@charset "UTF-8";

#aboutme .animation {
    transition: all 0.5s;
}

.progress_bar {
  position: relative;
  width: 425px;
  height: 2.5px;
  margin: 1rem auto;
  background: #f2f0fe;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.progress_bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 3px;
  background:rgba(90, 47, 194,0.6);
}
.progress_bar .rate {
  position: absolute;
  top: 8px;
  right: 15px;
  line-height: 35px;
  font-size: 1.2em;
  color: #ed4385;
}
