@charset "UTF-8";

#aboutme .animation {
    transition: all 0.5s;
}

.progress_bar {
  position: relative;
  width: 425px;
  height: 2.5px;
  margin: 1rem auto;
  background: #f2f0fe;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.progress_bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 3px;
  border-radius: 5px;
  background:rgba(90, 47, 194,0.6);
}
.progress_bar .rate {
  width: 55px;
  text-align: center;
  height: 33px;
  border-radius: 5px;
  background-color: #f2f0fe;
  position: relative;
  top: -3.5rem;
  line-height: 35px;
  font-size: 1.2em;
  color: #ed4385;
}
.progress_bar .rate:after {
  content: '';
  position: absolute;
  top: 22px;
  left: 17px;
  width: 0px;
  height: 0;
  border-bottom: 20px solid transparent;
  border-left: 20px solid;
  transform: rotate(225deg);
  color: #f2f0fe;
}
