@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html{
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
.hidden {
  display: none;
}
body {
  margin-left: -16px;
	padding: 0;
  line-height: 1;
  font-family: "Roboto", "맑은고딕", sans-serif;
  font-weight: 300;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* customizing */
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
P {
  font-family: "Eulyoo-R", "맑은고딕", sans-serif;
  font-size: 15px;
}
.tiempos_R {
  font-family: 'Tiempos Headline', "맑은고딕", sans-serif;
  font-weight: 300;
}
.tiempos_B {
  font-family: 'Tiempos Headline', "맑은고딕", sans-serif;
  font-weight: 600;
}
.roboto_T {
  font-family: "Roboto", "맑은고딕", sans-serif;
  font-weight: 100;
}
.roboto_L {
  font-family: "Roboto", "맑은고딕", sans-serif;
  font-weight: 300;
}
.roboto_R {
  font-family: "Roboto", "맑은고딕", sans-serif;
  font-weight: 400;
}
.roboto_M {
  font-family: "Roboto", "맑은고딕", sans-serif;
  font-weight: 500;
}
.roboto_B {
  font-family: "Roboto", "맑은고딕", sans-serif;
  font-weight: 700;
}
button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: #555;
}
a:link {
  color: #555;
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
  border: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cf:after {
  content: "";
  display: block;
  clear: both;
}
.alt {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}
input {
  vertical-align: middle;
}
.nomargin_t {
  margin-top: 0;
}
.nomargin_r {
  margin-right: 0;
}
.nomargin_b {
  margin-bottom: 0;
}
.nomargin_l {
  margin-left: 0;
}
.capital {
  text-transform: capitalize;
}
.upper {
  text-decoration: uppercase;
}
.section {
  width: 100%;
  height: 100%;
}
.container{
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.tohide{
  display: block;
  text-indent: -999999px;
}


/* scrollbar */

body::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

.scroll_progress_container {
  position: fixed;
  right: 0;
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 2px;
	margin: auto;
}
.scroll_progress_bar {
	width: 15px;
	background: linear-gradient(#f2f0ff,#afa5f3, #8e7dff,#5a2fc2);
	border-radius: 5px;
}

.scroll_progress_bar:before {
	height: 1%;
}

.glow {
	-webkit-box-shadow: 0px 0px 20px 10px rgb(90 47 194 / 50%);
	-moz-box-shadow: 0px 0px 20px 10px rgb(90 47 194 / 50%);
  box-shadow: 0px 0px 20px 10px rgb(90 47 194 / 50%);
  background: rgba(142,129,228,0.1);
  background: linear-gradient(#E61915,#961906,#483E34);
}