@charset "UTF-8";

@font-face {
  font-family: "Eulyoo-R";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.9px;
}

@font-face {
  font-family: "Eulyoo-B";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* font */
.font_gnb > li a {
  font-family: "roboto", "맑은고딕", sans-serif;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 15px;
  letter-spacing: 0;
  text-transform: uppercase;
}
.font_slogan1 {
  font-family: "DM Serif Display", "맑은고딕", sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 42px;
  letter-spacing: 0;
  color: #333;
  text-align: center;
}
.font_slogan2 {
  font-family: "Noto Sans KR", "맑은고딕", sans-serif;
  font-size: 30px;
  line-height: 88px;
  letter-spacing: -2.3px;
  color: #333;
  white-space: nowrap;
  text-align: center;
}
.head_box p{
  font-family: "Noto Sans KR", "맑은고딕", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
}
.head_box p:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../images/squiggle.svg);
  background-repeat: no-repeat;
}
.detail_box_left {
  font-family: "Noto Sans KR", "맑은고딕", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #582faa;
  text-transform: capitalize;
}
.detail_box_right {
  font-family: "Noto Sans KR", "맑은고딕", sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #060606;
}
#aboutme .skill_area p.title {
  font-family: "Noto Sans KR", "맑은고딕", sans-serif;
  font-size: 21px;
  line-height: 32px;
  color: #060606;
  vertical-align: middle;
  text-align: left;
}
#aboutme .skill_area p.text {
  font-family: "Noto Sans KR", "맑은고딕", sans-serif;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: -1px;
  color: #060606;
  vertical-align: middle;
  text-align: left;
}
.font_skill{
  font-family: "roboto", "맑은고딕", sans-serif;
  font-size: 15px;
  color: #333;
}
.font_projecthead {
  font-family: "DM Serif Display", "맑은고딕", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 25%;
  color: #060606;
}
.font_projectdetail {
  font-family: "roboto", "맑은고딕", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 25%;
  color: #333;
}
.font_projectview {
  font-family: "roboto", "맑은고딕", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 13.2px;
  letter-spacing: 105%;
  color: #5524c4;
}
.font_contactme {
  font-family: "DM Serif Display", "맑은고딕", sans-serif;
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;
  letter-spacing: -25%;
}
